.App {
  text-align: center;
}

.navbar-cont {
  background-image: linear-gradient(to right top, #f1eef0, #ece5e9, #e8dce0, #e4d4d7, #e0cbcd);
}

.navbar-logo {
  padding-left: 1rem;
  padding-right:1rem;
}