.App {
  text-align: center;
}

.navbar-cont {
  background-image: linear-gradient(to left bottom, #ad8b92, #bc9da4, #cbafb6, #dac2c8, #ead5db);
}

.navbar-logo {
  padding-left: 1rem;
  padding-right:1rem;
}